#Runtime requirements Could also specify versions, e.g. jsonschema>=1.10
pydicom
jsonschema
urllib3
datetime
typing
zipp
nested_lookup
pydantic[email] >= 2.10
xmltodict >= 0.14
requests
validators >= 0.34
jsonpath-ng >= 1.7
deepmerge >= 2.0
magika >= 0.5.1
numpy
pandas
h5py
pytest >= 7.4
pytest-cov >= 6.0
pytest-mock >= 3.14.0
mappingservice-plugincore @ git+https://github.com/kit-data-manager/mappingservice_plugincore.git@development
