#Runtime requirements Use pip install -r requirements.dist.txt

#Testing
pytest >= 7.4
pytest-cov >= 6.0
pytest-mock >= 3.14.0
pre-commit
pytest-benchmark

# Linting/Tooling
pylint
flake8
mypy
isort
black
pre-commit
autopep8
pydantic[email] >= 2.10
xmltodict >= 0.14
requests
validators >= 0.34
jsonpath-ng >= 1.7
deepmerge >= 2.0
magika >= 0.5.1
numpy
pandas
h5py
pydicom

#Documentation
mkdocs
mkdocstrings
mkdocstrings[python]
mkdocs-material
Pygments
